## üß© –≠—Ç–∞–ø 1. –ê–Ω–∞–ª–∏–∑ –∏ –æ—á–∏—Å—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö (Pandas)

### 1Ô∏è‚É£ –ü—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑
- –ó–∞–≥—Ä—É–∑–∏—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç –∏ –ø–æ—Å–º–æ—Ç—Ä–∏—Ç–µ –ø–µ—Ä–≤—ã–µ 10 —Å—Ç—Ä–æ–∫.
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ —Ä–∞–∑–º–µ—Ä —Ç–∞–±–ª–∏—Ü—ã –∏ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö.
- –ü—Ä–æ–≤–µ—Ä—å—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ –æ—Å–Ω–æ–≤–Ω—ã—Ö –∫–æ–ª–æ–Ω–∫–∞—Ö.
- –ù–∞–π–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –∏ –ø—Ä–æ—Ü–µ–Ω—Ç –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ.
- –£–¥–∞–ª–∏—Ç–µ —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ –æ—Ç—Å—É—Ç—Å—Ç–≤—É–µ—Ç `CustomerID` –∏–ª–∏ `Description`.
- –£–¥–∞–ª–∏—Ç–µ –¥—É–±–ª–∏–∫–∞—Ç—ã.

In [3]:
import pandas as pd
# –°—á–∏—Ç—ã–≤–∞–µ–º CSV
df = pd.read_csv('/Users/nikolajantonevic/Desktop/online_retail_II.csv')
#pd.set_option('display.max_columns', None)
df.head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.0,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.0,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.0,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085.0,United Kingdom

In [47]:
#- –ü—Ä–æ–≤–µ—Ä—å—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ –æ—Å–Ω–æ–≤–Ω—ã—Ö –∫–æ–ª–æ–Ω–∫–∞—Ö.
lst = df.columns

lst.unique()

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country', 'TotalPrice', 'InvoiceMonth',
       'IsReturn'],
      dtype='object')

In [ ]:
#- –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ —Ä–∞–∑–º–µ—Ä —Ç–∞–±–ª–∏—Ü—ã –∏ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö.
df.shape

(1067371, 8)

In [9]:
df.size

8538968

In [18]:
df.isna()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
1067366,False,False,False,False,False,False,False,False
1067367,False,False,False,False,False,False,False,False
1067368,False,False,False,False,False,False,False,False
1067369,False,False,False,False,False,False,False,False
1067370,False,False,False,False,False,False,False,False

In [14]:
#- –ù–∞–π–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –∏ –ø—Ä–æ—Ü–µ–Ω—Ç –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ.

df.isna().sum()

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

In [48]:
df.isna().sum() /df.size

Invoice         0.000000
StockCode       0.000000
Description     0.000373
Quantity        0.000000
InvoiceDate     0.000000
Price           0.000000
Customer ID     0.020697
Country         0.000000
TotalPrice      0.000000
InvoiceMonth    0.000000
IsReturn        0.000000
dtype: float64

In [ ]:
#- –£–¥–∞–ª–∏—Ç–µ —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ –æ—Ç—Å—É—Ç—Å—Ç–≤—É–µ—Ç `CustomerID` –∏–ª–∏ `Description`.

In [19]:
#3. –£–¥–∞–ª–∏—Ç–µ –¥—É–±–ª–∏–∫–∞—Ç—ã —Å—Ç—Ä–æ–∫, –µ—Å–ª–∏ –æ–Ω–∏ –µ—Å—Ç—å.

df[df.duplicated()]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
371,489517,21912,VINTAGE SNAKES & LADDERS,1,2009-12-01 11:34:00,3.75,16329.0,United Kingdom
383,489517,22130,PARTY CONE CHRISTMAS DECORATION,6,2009-12-01 11:34:00,0.85,16329.0,United Kingdom
384,489517,22319,HAIRCLIPS FORTIES FABRIC ASSORTED,12,2009-12-01 11:34:00,0.65,16329.0,United Kingdom
385,489517,21913,VINTAGE SEASIDE JIGSAW PUZZLES,1,2009-12-01 11:34:00,3.75,16329.0,United Kingdom
386,489517,21821,GLITTER STAR GARLAND WITH BELLS,1,2009-12-01 11:34:00,3.75,16329.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067136,581538,22068,BLACK PIRATE TREASURE CHEST,1,2011-12-09 11:34:00,0.39,14446.0,United Kingdom
1067150,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,2011-12-09 11:34:00,2.49,14446.0,United Kingdom
1067153,581538,22992,REVOLVER WOODEN RULER,1,2011-12-09 11:34:00,1.95,14446.0,United Kingdom
1067160,581538,22694,WICKER STAR,1,2011-12-09 11:34:00,2.10,14446.0,United Kingdom
1067162,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,2011-12-09 11:34:00,2.08,14446.0,United Kingdom

In [49]:
#3. –£–¥–∞–ª–∏—Ç–µ –¥—É–±–ª–∏–∫–∞—Ç—ã —Å—Ç—Ä–æ–∫, –µ—Å–ª–∏ –æ–Ω–∏ –µ—Å—Ç—å.

df.drop_duplicates()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice,InvoiceMonth,IsReturn
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.40,12,0
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00,12,0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00,12,0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.80,12,0
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.00,12,0
...,...,...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60,12,0
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,12,0
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,12,0
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85,12,0
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,18.00,12,0

In [51]:
df = df.dropna(subset=['Customer ID', 'Description'])

In [52]:
df[['Customer ID', 'Description']].isna().sum()

Customer ID    0
Description    0
dtype: int64

### 2Ô∏è‚É£ –û–±–æ–≥–∞—â–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
- –°–æ–∑–¥–∞–π—Ç–µ –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü `TotalPrice = Quantity * UnitPrice`.
- –°–æ–∑–¥–∞–π—Ç–µ —Å—Ç–æ–ª–±–µ—Ü `InvoiceMonth` = –º–µ—Å—è—Ü –∏–∑ `InvoiceDate`.
- –°–æ–∑–¥–∞–π—Ç–µ —Å—Ç–æ–ª–±–µ—Ü `IsReturn` = 1, –µ—Å–ª–∏ `Quantity` < 0 (–≤–æ–∑–≤—Ä–∞—Ç —Ç–æ–≤–∞—Ä–∞), –∏–Ω–∞—á–µ 0.
- –ù–∞–π–¥–∏—Ç–µ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –Ω–∞–∏–±–æ–ª—å—à–µ–π –¥–æ–ª–µ–π –≤–æ–∑–≤—Ä–∞—Ç–æ–≤.

In [24]:
df['TotalPrice'] = df['Quantity'] * df['Price']

In [25]:
df[['Quantity', 'Price', 'TotalPrice']].head()

   Quantity  Price  TotalPrice
0        12   6.95        83.4
1        12   6.75        81.0
2        12   6.75        81.0
3        48   2.10       100.8
4        24   1.25        30.0

In [27]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.40
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.80
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.00
...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,18.00

In [29]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [30]:
df['InvoiceMonth'] = df['InvoiceDate'].dt.month

In [54]:
df[['InvoiceDate', 'InvoiceMonth']].head()
df.dtypes

Invoice                 object
StockCode               object
Description             object
Quantity                 int64
InvoiceDate     datetime64[ns]
Price                  float64
Customer ID            float64
Country                 object
TotalPrice             float64
InvoiceMonth             int32
IsReturn                 int64
dtype: object

In [ ]:
#- –°–æ–∑–¥–∞–π—Ç–µ —Å—Ç–æ–ª–±–µ—Ü `IsReturn` = 1, –µ—Å–ª–∏ `Quantity` < 0 (–≤–æ–∑–≤—Ä–∞—Ç —Ç–æ–≤–∞—Ä–∞), –∏–Ω–∞—á–µ 0.

In [ ]:
df['IsReturn'] = (df['Quantity'] < 0).astype(int) #false - 0, true - 1

In [35]:
df[['Quantity', 'IsReturn']].head(10)

   Quantity  IsReturn
0        12         0
1        12         0
2        12         0
3        48         0
4        24         0
5        24         0
6        24         0
7        10         0
8        12         0
9        12         0

In [58]:
df.IsReturn.sum()

np.int64(18744)

In [ ]:
fsd

In [ ]:
#- –ù–∞–π–¥–∏—Ç–µ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –Ω–∞–∏–±–æ–ª—å—à–µ–π –¥–æ–ª–µ–π –≤–æ–∑–≤—Ä–∞—Ç–æ–≤.

### 3Ô∏è‚É£ –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –ø—Ä–æ–¥–∞–∂
- –ù–∞–π–¥–∏—Ç–µ:
  - —Ç–æ–ø-10 –ø–æ–ø—É–ª—è—Ä–Ω—ã—Ö —Ç–æ–≤–∞—Ä–æ–≤.
  - —Ç–æ–ø-5 —Å—Ç—Ä–∞–Ω –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –ø–æ–∫—É–ø–æ–∫ –∏ –ø–æ –≤—ã—Ä—É—á–∫–µ.
  - —Å—Ä–µ–¥–Ω–∏–π —á–µ–∫ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º.
  - —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç–æ–≤–∞—Ä–æ–≤ –Ω–∞ –∑–∞–∫–∞–∑.
- –ù–∞–π–¥–∏—Ç–µ –¥–Ω–∏ –Ω–µ–¥–µ–ª–∏ —Å –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π –∏ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–π –≤—ã—Ä—É—á–∫–æ–π.
- –ù–∞–π–¥–∏—Ç–µ —Å—Ä–µ–¥–Ω—é—é –≤—ã—Ä—É—á–∫—É –ø–æ –∫–∞–∂–¥–æ–º—É –º–µ—Å—è—Ü—É.

In [ ]:
#- —Ç–æ–ø-10 –ø–æ–ø—É–ª—è—Ä–Ω—ã—Ö —Ç–æ–≤–∞—Ä–æ–≤.

In [36]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice,InvoiceMonth,IsReturn
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.40,12,0
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00,12,0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00,12,0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.80,12,0
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.00,12,0
...,...,...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60,12,0
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,12,0
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,12,0
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85,12,0
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,18.00,12,0

In [37]:
df['Description'].mode()

0    WHITE HANGING HEART T-LIGHT HOLDER
Name: Description, dtype: object

In [ ]:
top_10_products = (
    df.groupby('Description', as_index=False)   
      .agg(total_quantity=('Quantity', 'sum'))  
      .sort_values('total_quantity', ascending=False)  
      .head(10)  # –±–µ—Ä—ë–º —Ç–æ–ª—å–∫–æ —Ç–æ–ø-10
)

print(top_10_products)

                             Description  total_quantity
5388   WORLD WAR 2 GLIDERS ASSTD DESIGNS          108545
5266  WHITE HANGING HEART T-LIGHT HOLDER           93050
328        ASSORTED COLOUR BIRD ORNAMENT           81306
2508             JUMBO BAG RED RETROSPOT           78090
801                  BROCADE RING PURSE            70700
3204  PACK OF 60 PINK PAISLEY CAKE CASES           56575
168          60 TEATIME FAIRY CAKE CASES           54366
4706                SMALL POPCORN HOLDER           49616
3207     PACK OF 72 RETROSPOT CAKE CASES           49344
3206    PACK OF 72 RETRO SPOT CAKE CASES           46106

### 4Ô∏è‚É£ –í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è (Matplotlib / Seaborn / Plotly)
- –ü–æ—Å—Ç—Ä–æ–π—Ç–µ –≥–∏—Å—Ç–æ–≥—Ä–∞–º–º—É —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è `UnitPrice` –∏ `TotalPrice`.
- –ü–æ—Å—Ç—Ä–æ–π—Ç–µ boxplot –¥–ª—è –≤—ã—Ä—É—á–∫–∏ (`TotalPrice`) –ø–æ —Å—Ç—Ä–∞–Ω–∞–º.
- –ù–∞—Ä–∏—Å—É–π—Ç–µ —Ç–æ–ø-10 —Ç–æ–≤–∞—Ä–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –ø—Ä–æ–¥–∞–∂.
- –í–∏–∑—É–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ –≤—ã—Ä—É—á–∫—É –ø–æ –º–µ—Å—è—Ü–∞–º.
- –ü–æ—Å—Ç—Ä–æ–π—Ç–µ heatmap –∫–æ—Ä—Ä–µ–ª—è—Ü–∏–∏ –º–µ–∂–¥—É —á–∏—Å–ª–æ–≤—ã–º–∏ –ø—Ä–∏–∑–Ω–∞–∫–∞–º–∏.
- –ü–æ—Å—Ç—Ä–æ–π—Ç–µ pie chart —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –∑–∞–∫–∞–∑–æ–≤ –ø–æ —Å—Ç—Ä–∞–Ω–∞–º.
- –ù–∞—Ä–∏—Å—É–π—Ç–µ scatterplot –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ `Quantity` –∏ `TotalPrice`.